.brand__grid {
  background: #fff;
  position: relative;
  width: 100%;

  ._0lo0zY {
    margin-top: 0.75rem;
    padding-bottom: 1.5rem;
  }
}

.brand_grid_header {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: baseline;

  .oh5A4w {
    position: relative;
    padding: 0 0.625rem;
  }
}
